/* .navbar img{
    float: left;
    display: flex;
    left: 0px;
    height: 100px;
    width: 150px;
} */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Pacifico', cursive;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.navbar li:hover {
    border-radius: 10px;
    background-color: rgb(165, 165, 165);
    box-shadow: 10px 10px 10px black;
}

li {
    display: flex;
    display: inline-block;
    margin: 5px 10px;
    padding: 15px;
}

li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.container {
    height: 300px;
    justify-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

p {
    margin: 3px 10px;
    color: white;
}

header::before {
    content: "";
    position: absolute;
    background: url('./project2/img1.avif') no-repeat center center/cover;
    background-color: black;
    height: 440px;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    opacity: 0.;   
}

h2 {
    font-size: 1.8rem;
    color: white;
}

.box {
    border: 2px solid black;
    box-shadow: 10px 10px 10px black;
}

.services {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}

.secondcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondcontainer .box {
    height: 250px;
    width: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.secondcontainer .box p{
    color: black;
    font-size: 0.9rem;
}
.secondcontainer .box img{
    height: 100px;
    width: 100px;
}
#thirdbox img{
    height: 100px;
    width: 150px;
}
#secondbox{
    margin: 0px 200px;
}
.thirdcontainer{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:15px ;
    margin: 50px;
    box-shadow: 10px 10px 10px black;
}
.ourclients h2{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}
.ourclients .thirdcontainer{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.ourclients .thirdcontainer img{
    padding: 0px 100px;
}
.contactus{
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
}
.contactus  h2{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}
.contactus::before{
    content: "";
    background: url("./project2/img2.jpeg")no-repeat center center/cover;
    height: 405px;
    width: 1350px;
    position: absolute;
    z-index: -1;
    opacity: 0.9;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    height: 100px;
    width: 200px;
}